<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <!-- 스타일 시트 -->
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>
    <div id="app">
        <v-app>
            <!-- 상단 툴바 -->
            <toolbar-component></toolbar-component>

            <!-- 메인 섹션 -->
            <v-main>
                
                <main-list ></main-list>


                    <!-- 일기 작성칸 -->
                    <v-container>
                        <write-component ></write-component>
                    </v-container>
            

            <div>
                <!--일기 작성란 -->
                <v-container>
                    
                    <v-card >
            
                    <v-row>
                        <v-col cols="4">
                            <v-img 
                            :src="'https://picsum.photos/500/300?image'"
                            :lazy-src="'https://picsum.photos/10/6?image='+n * 15"
                            aspect-ratio="1"
                            class="grey lighten-2 .float-left ml-5 mt-5"
                            max-width="200px"
                            @click=""
                            >
            
                            <!--이미지 로딩 진행 써클 -->
                            <template v-slot:placeholder>
                                <v-row
                                    class="fill-height ma-0"
                                    align="center"
                                    justify="center"
                                >
                                    <v-progress-circular
                                    indeterminate
                                    color="grey lighten-5"
                                    ></v-progress-circular>
                                </v-row>
                            </template>
            
                            </v-img>
                        </v-col>
            
                        <v-col cols="8">
                            <!--날짜 입력 -->
                            <v-card-text><input type="date"></v-card-text>
            
                            <!-- 기분 선택칸 -->
                            <v-card-text>
                                오늘의 기분
                                <v-row justify="space-around">
                                    <v-col
                                    cols="12"
                                    sm="10"
                                    md="8"
                                    >
                                        <v-chip-group
                                        mandatory
                                        active-class="pink--text"
                                        >
                                            <v-chip
                                            v-for="tag in tags"
                                            :key="tag"
                                            >
                                            <v-icon>
                                                {{ tag }}
                                            </v-icon>
                                            </v-chip>
                                        </v-chip-group>
                                    </v-col>
                                </v-row>
                            </v-card-text>
            
                            <v-card-text>
                                    <v-card-text>
                                        <v-form>
                                              <v-row>
                                                <v-col cols="12">
                                                  <v-text-field
                                                    v-model="message_todo"
                                                    :append-outer-icon="'mdi-check'"
                                                    clear-icon="mdi-close-circle"
                                                    clearable
                                                    label="오늘의 할 일"
                                                    type="text"
                                                    @click:append-outer="saveMessage"
                                                  ></v-text-field>
                                                </v-col>
                                              </v-row>
                                          
                                    </v-card-text>

                                    <v-card-text>
                                        <v-row>
                                            <v-col cols="12">
                                              <v-text-field
                                                v-model="message_meal"
                                                :append-outer-icon="'mdi-check'"
                                                clear-icon="mdi-close-circle"
                                                clearable
                                                label="오늘의 식사"
                                                type="text"
                                                @click:append-outer="saveMessage"
                                              ></v-text-field>
                                            </v-col>
                                          </v-row>
                            </v-card-text>
                        </v-col>
                    </v-row>
            
                    <v-divider class="mx-4"></v-divider>
            
                    <!-- 긴 문장 작성 칸 -->
                    <v-row>
                        <v-col cols="12" md="6">
                            <v-textarea
                            outlined
                            name="input-7-4"
                            label="오늘의 하루를 기록하세요"
                            auto-grow
                            ></v-textarea>
                        </v-col>
                    </v-row>
                    
                    <v-card-actions >
                        <v-spacer></v-spacer>
                        <v-btn justify-center>완료</v-btn>
                    </v-card-actions>
                </v-form>
                </v-card>

            </v-main>

            <!-- 푸터 영역 -->
            <v-footer color="info lighten-2" dark>
                <div class="mx-auto">Copyright &copy; 송민주</div>
            </v-footer>
        </v-app>
    </div>



    <!--툴바 컴포넌트-->
    <script src="./components/toolbar.js"></script>

    <!-- 메인 리스트 정렬 컴포넌트 -->
    <script src="./components/main_list.js"></script>

    <!--일기 작성 칸 컴포넌트-->
    <script src="./components/write.js"></script>

    <!-- 뷰 인스턴스 -->
    <script>
        const EventBus = new Vue()
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data : {
                tags: [
                    'mdi-emoticon-excited-outline',
                    'mdi-emoticon-happy-outline',
                    'mdi-emoticon-neutral-outline',
                    'mdi-emoticon-sad-outline',
                    'mdi-emoticon-angry-outline',
                ],

                iconIndex: 0,
                message_todo: '',
                message_meal: '',
                },
                
                methods: {
                    saveMessage () {
                        this.iconIndex = 0
                    },
                    
                },
        })
    </script>
</body>
</html>